/** Element specific styles (and layout) **/

@weatherFont: HelveticaNeue 31;
@infoFont: HelveticaNeue 16;

@pinkColor: #ff3ab7;
@magentaColor: #4d0e8d;
@lightGreenColor: #c3e217;
@greenColor: #a1d22a;
@orangeColor: #e26317;
@mediumGray: #6e6e6e;
@blueColor: #00bce3;

#demoRootView {
    layout: top(0), height(parent), centerX(parent);
    backgroundColor: gradient(#fafafa, #e0e0e0);
}

#weatherCard{
    layout: size(parent, parent), leftTop(0, guide.top+1);
    backgroundColor: gradient(#fafafa, #e0e0e0);
}

#bg_pic{
    layout: left(0), top(0), size(parent,125);
    contentMode: scaleToFill;
    image: url("http://s.go2yd.com/c/sun_bg.png");
}

#temperature{
    layout: sizeToFit(parent-104,37), left(84), top(22);
    textAlignment: left;
    textColor: #ffffff;
    font: @weatherFont;
    text: "";
}

#icon_pic{
    layout: size(50,50), leftTop(24,25);
    contentMode: scaleAspectFit;
    image: url("http://s.go2yd.com/c/sun_icon.png");
}

#du{
    layout:sizeToFit(22, 37), top(22), left(temperature + 0);
    text: "°";
    textAlignment: left;
    textColor: #ffffff;
    font: @weatherFont;
}

.infoStyle{
    textAlignment: left;
    textColor: #ffffff;
    font: @infoFont;
}

#weather_phenomena{
    layout:top(59),left(84),sizeToFit(200, 19);
    text: "";
}

#pm25{
    layout:top(82),left(24),sizeToFit(240,20);
    text:"";
}

#air_quality{
    layout:left(pm25+8),top(82),sizeToFit(parent,20);
    text: "";
}


#demoButton2 {
    layout: size(120, 80), center(parent, parent); /* Using implicit/default parent relations that evaluates to parent.centerX / parent.centerY (same attributes used) */
    title: "优质空气";
}
#demoButton3 {
    layout: height(40), width(parent.width * 0.25), centerY(demoButton2), centerX(parent.width * 0.85);
    attributedTitle: "✔︎" (color: @greenColor),  " 空气污染" (color: @mediumGray);
    attributedTitle(highlighted): "✘" (color: @orangeColor),  " " (), "空气污染" (color: @mediumGray, underlineStyle: single);
}
